//Imports

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@200;300;400;500;600;700&display=swap");

//Colors

$primary: #fdf9ed;
$secondary: #ec6e0d;
$fonts: #464646;

//Fonts:

$heading: "DM Serif Display", serif;
$default: "Poppins", sans-serif;
